* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none !important;
}

body {
    background: var(--bg);

    color: var(--text);

    font-family: 'Syne', sans-serif;

    overflow-x: hidden;

    position: relative;

    min-height: 100vh;
}
:root {

    /* DARK THEME */

    --bg: #09040a;

    --text: #f5edf3;

    --text-secondary: #cab6c2;

    --text-muted: #8b6f7d;

    --nav-bg: rgba(9, 4, 10, 0.7);

    --border: rgba(255,45,155,0.15);

    --accent: #ff2d9b;

    --grid: rgba(255,255,255,0.045);

    --pink-glow: rgba(255,45,155,0.12);

    --blue-glow: rgba(0,120,255,0.12);

    --scanline: rgba(255,45,155,0.015);

    --toggle-bg:
    linear-gradient(
        135deg,
        rgba(255,255,255,0.06),
        rgba(255,255,255,0.015)
    );

    --toggle-border: rgba(255,255,255,0.08);

    --toggle-label: rgba(255,255,255,0.55);

    --toggle-orb:
    radial-gradient(
        circle at top left,
        rgba(255,255,255,0.45),
        rgba(255,255,255,0.08)
    );

}

body.light-mode {

    --bg: #f5f1f7;

    --text: #161218;

    --nav-bg: rgba(255,255,255,0.72);

    --border: rgba(255,45,155,0.22);

    --accent: #ff2d9b;

    --grid: rgba(0,0,0,0.18);

    --pink-glow: rgba(255,45,155,0.14);

    --blue-glow: rgba(0,120,255,0.10);

    --scanline: rgba(0,0,0,0.045);

    --text-secondary: #5b4d57;

    --text-muted: #7d6d78;

    --toggle-bg:
    linear-gradient(
        135deg,
        #eceaf1,
        #e2dee8
    );

    --toggle-border: rgba(0,0,0,0.08);

    --toggle-label: rgba(0,0,0,0.55);

    --toggle-orb:
    radial-gradient(
        circle at top left,
        #ffffff,
        #d9d6de
    );

}
/* SCANLINE OVERLAY */

body::before {
    content: '';

    position: fixed;

    inset: 0;

    background:
    repeating-linear-gradient(
        0deg,
        transparent,
        transparent 2px,
        var(--scanline) 2px,
        var(--scanline) 4px
    );

    pointer-events: none;

    z-index: 1000;
}

/* =========================
   NOISE TEXTURE
========================= */

body::after {
    content: '';

    position: fixed;

    inset: 0;

    background-image:
    url("https://www.transparenttextures.com/patterns/noise.png");

    opacity: 0.04;

    pointer-events: none;

    z-index: 999;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    height: 80px;

    padding: 0 5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: var(--nav-bg);

    backdrop-filter: blur(20px);

    border-bottom: 1px solid var(--border);

    z-index: 1000;
}

.nav-left,
.nav-center,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-center {
    gap: 40px;
}

.nav-right {
    gap: 18px;
}

.nav-logo {
    text-decoration: none;

    font-family: 'Space Mono', monospace;

    font-size: 1rem;

    color: #ff2d9b;

    font-weight: 700;
}

.nav-logo span {
    color: var(--text);
}

.nav-center a {
    text-decoration: none;

    color: var(--text-secondary);

    font-family: 'Space Mono', monospace;

    font-size: 0.9rem;

    transition: 0.3s ease;
}

.nav-center a:hover {
   color: var(--accent)
}

/* RESUME BUTTON */

.resume-btn {
    text-decoration: none;

    color: #ff2d9b;

    border: 1px solid rgba(255, 45, 155, 0.4);

    padding: 12px 22px;

    border-radius: 14px;

    font-family: 'Space Mono', monospace;

    font-size: 0.85rem;

    transition: 0.3s ease;
}

.resume-btn:hover {
    background: rgba(255, 45, 155, 0.12);
}

/* GLASS TOGGLE */

.glass-toggle {
    border: none;
    background: transparent;
    cursor: pointer;
}

/* TRACK */

.toggle-track {
    position: relative;

    width: 150px;
    height: 64px;

    border-radius: 999px;

    background: var(--toggle-bg);

    border: 1px solid var(--toggle-border);

    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 20px;

    overflow: visible;

    box-shadow:
    inset 0 1px 2px rgba(255,255,255,0.8),
    0 6px 18px rgba(0,0,0,0.08);
}

/* FLOATING GLASS ORB */

.toggle-thumb {
    position: absolute;

    top: 50%;
    right: 4px;

    transform: translateY(-50%);

    width: 72px;
    height: 72px;

    border-radius: 50%;

    background: var(--toggle-orb);

    border: 1px solid rgba(255,255,255,0.12);

    backdrop-filter: blur(25px);

    box-shadow:
    inset 0 2px 8px rgba(255,255,255,0.12),
    0 4 14px rgba(0,0,0,0.12);

    z-index: 1;

    transition: all 0.45s ease;
}


/* LABELS */

.toggle-label {
    position: relative;

    z-index: 2;

    font-size: 0.82rem;

    font-family: 'Space Mono', monospace;

    color: var(--toggle-label);

    transition: 0.3s ease;
}

.active-theme {
    color: var(--text);
}

/*HERO SECTION*/

#hero {
    min-height: 100vh;

    padding: 140px 5% 0;

    position: relative;

    overflow: hidden;
}

/* GRID BACKGROUND */

.hero-grid-bg {
    position: absolute;

    inset: 0;

    background-image:

    linear-gradient(
        var(--grid) 1px,
        transparent 1px
    ),

    linear-gradient(
        90deg,
        var(--grid) 1px,
        transparent 1px
    );

    background-size: 60px 60px;

    opacity: 1;

    z-index: 0;
}

/*PINK GLOW */

.hero-glow {
    position: absolute;

    top: 0;
    left: 15%;

    width: 700px;
    height: 700px;

    background:
    radial-gradient(
        circle,
       var(--pink-glow),
        transparent 70%
    );

    filter: blur(80px);

    z-index: 0;
}

/* BLUE GLOW */

.hero-glow2 {
    position: absolute;

    right: 0;
    bottom: 0;

    width: 600px;
    height: 600px;

    background:
    radial-gradient(
        circle,
        var(--blue-glow),
        transparent 70%
    );

    filter: blur(90px);

    z-index: 0;
}

/* CONTENT ABOVE BG */

.hero-content,
.hero-visual {
    position: relative;

    z-index: 5;
}

body,
.navbar,
section,
.project-card,
.skill-category,
.about-card,
.contact-link,
input,
textarea,
.toggle-track,
.toggle-thumb {
    transition:
    background 0.4s ease,
    color 0.4s ease,
    border-color 0.4s ease;
}

body {
    cursor: none;
}

.butterfly-cursor {
    position: fixed;

    width: 60px;
    height: 60px;

    pointer-events: none;

    z-index: 99999;

    transform: translate(-50%, -50%);

    mix-blend-mode: screen;
}

.butterfly-svg {
    width: 72px;
    height: 72px;

    overflow: visible;

     filter:
        drop-shadow(0 0 6px rgba(255,45,155,0.45))
        drop-shadow(0 0 16px rgba(255,45,155,0.22));

    opacity: 0.95;
}

.wing {
    transform-box: fill-box;
    transform-origin: center;
}

.left-wing {
    animation: flapLeft 0.8s ease-in-out infinite;
}

.right-wing {
    animation: flapRight 0.8s ease-in-out infinite;
}